body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
    background: #E54040;
    color: #fff;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 840px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .img_wrapper {
      margin: 120px auto 0;
      text-align: center;
      max-width: 500px;
  }

.logo {
    width: 100%;
}

.text_wrapper {
    margin-top: 55px;
}

.desc {
    font-size: 15px;
    letter-spacing: 0.01em; 
    max-width: 430px;
    margin: 0 auto;
    line-height: 1.7em;
    text-align: justify;
}

  .contact {
      text-align: center;
      margin-top: 45px;
      font-size: 17px;
      letter-spacing: 0.05em;
      margin-bottom: 19px;
  }

.logo_ver {
  text-align: center;
  max-width: 215px;
}

.contact_img {
  width: 47px;
  height: auto;
  margin: 0 11px;
}

.contact_wrapper {
  display: flex;
  justify-content: center;
}

  @media screen and (max-width:480px) { 
    .text_wrapper {
        margin: 55px 10px 0;
    }

    .desc {
      padding: 0 11%;
    }

    .logo {
      display: none;
    }

    .img_wrapper {
      margin: 45px auto 0;
  }

    .text_wrapper {
      margin-top: 45px;
  }

    .contact {
      margin-top: 40px;
  }
}

@media screen and (min-width:480px) { 
  .logo_ver {
    display: none;
  }
}